h1 {
    text-align: center;
}
.photo {
    text-align: center;
    
}

img {
    width: 250px;
    height: 250px;

}

h2 {
    background-color: beige;

    text-align: center;

}

p {
    text-align: center;
}

.abouttitle {
    background-color: beige;
}
.about {
    
    text-align: center;

}

.button {
    border-radius: 10px;
    border-style:hidden;
    background-color: transparent;
    color: black;
    font-size: 18px;
}